(
    axes: {
        Zoom: MouseWheel(horizontal: false),
    },
    actions: {
        Forward: [ [Key(W)] ],
        Backward: [ [Key(S)] ],
        StrafeLeft: [ [Key(A)] ],
        StrafeRight: [ [Key(D)] ],
        Shoot: [ [Mouse(Left)] ],
        Use: [ [Mouse(Right)] ],
    },
)
