(
    keyboard: {
        Forward: [ [KeyCode(W)] ],
        Backward: [ [KeyCode(S)] ],
        StrafeLeft: [ [KeyCode(A)] ],
        StrafeRight: [ [KeyCode(D)] ],
        Run: [ [KeyCode(LShift)] ],
        Reload: [ [KeyCode(R)] ],
        Select1: [ [KeyCode(Key1)] ],
        Select2: [ [KeyCode(Key2)] ],
        Select3: [ [KeyCode(Key3)] ],
        Select4: [ [KeyCode(Key4)] ],
        Select5: [ [KeyCode(Key5)] ],
    },
    mouse: {
        Shoot: [ [Mouse(Left)] ],
        Use: [ [Mouse(Right)] ],
    },
)
