List((
    texture_width: 64,
    texture_height: 64,
    sprites: [
        // 0: barren
        (
            x: 0,
            y: 0,
            width: 16,
            height: 16,
        ),
        // 1: default
        (
            x: 16,
            y: 0,
            width: 16,
            height: 16,
        ),
        // 2: grass
        (
            x: 32,
            y: 0,
            width: 16,
            height: 16,
        ),
        // 3: player
        (
            x: 48,
            y: 0,
            width: 16,
            height: 16,
        ),
        // 4: shooting player
        (
            x: 0,
            y: 16,
            width: 16,
            height: 18,
        ),
        // 5: bullet
        (
            x: 16,
            y: 16,
            width: 1,
            height: 3,
        ),
        // 6: barrel
        (
            x: 17,
            y: 16,
            width: 16,
            height: 16,
        ),
        // 7: corpse
        (
            x: 33,
            y: 16,
            width: 16,
            height: 16,
        ),
        // 8: hand with pistol
        (
            x: 48,
            y: 16,
            width: 9,
            height: 15,
        ),
    ],
))
